@import "../../../assets/style/base";

@media (max-width: 425px) {
  section.featured-product {

    div.title {
      height: 100px;
      width: 100%;

      h2 {
        font-size: $h3;
      }

      button {
        display: none;
        width: 250px;
        background-color: $primary;
        color: $white;
        padding: 13px 30px;
        font-size: $h4;
      }
    }

    div.image {
      height: 230px;
      position: relative;

      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      img {
        width: 100%;
        height: auto;
      }

      div.label {
        padding: 10px 15px;
        width: 180px;
        font-size: $h6;
        background-color: $white;
        color: $primary;
        position: absolute;
        font-weight: bold;
        bottom: 0px;
        left: 0px;
      }
    }

    div.mobile-add-to-cart {
      display: block;
      margin: 30px 0px !important;
      button {
        border: none;
        width: 100%;
        background-color: $primary;
        color: $white;
        padding: 10px 30px;
        font-size: $h5;
      }
    }

    div.metadata {
      margin-top: 30px;
      width: 100%;

      div.about {
        h5 {
          font-size: $h5;
          font-weight: bold;
          color: $primary;
        }

        h6 {
          margin-top: 9px !important;
          color: $secondary;
          font-weight: bold;
          font-size: $h6;
        }

        p {
          margin-top: 12px !important;
          color: $secondary;
          font-size: $h7;
        }
      }

      div.recommendations {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 30px !important;

        h5 {
          font-size: $h5;
          font-weight: bold;
          color: $primary;
        }

        div.images {
          margin-top: 27px !important;
          width: 100%;
          display: flex;
          overflow-x: auto;
          justify-content: space-between;
          align-items: center;

          div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            overflow: hidden;
            width: 97px;
            height: 120px;

            img {
              width: auto;
              height: 100%;
            }
          }
        }
      }

      div.details {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        div.dimensions {
          margin-top: 9px;
        }

        div.size {
          margin-top: 9px;
        }
      }
    }

    div.hr {
      margin: 40px 0px;
      border-bottom: 4px $light solid;
      height: 0px;
    }
  }
}

@media (min-width: 425px) {
  section.featured-product {
    div.title {
      height: 150px;
      width: 100%;

      h2 {
        font-size: $h2;
      }

      button {
        width: 250px;
        border: none;
        background-color: $primary;
        color: $white;
        padding: 13px 30px;
        font-size: $h4;
      }
    }

    div.image {
      height: 550px;
      position: relative;

      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      img {
        width: 100%;
        height: auto;
      }

      div.label {
        padding: 13px 30px;
        width: 250px;
        font-size: $h5;
        background-color: $white;
        color: $primary;
        position: absolute;
        font-weight: bold;
        bottom: 0px;
        left: 0px;
      }
    }

    div.mobile-add-to-cart {
      display: none;
    }

    div.metadata {
      margin-top: 46px;
      width: 100%;

      div.about {
        h5 {
          font-size: $h5;
          font-weight: bold;
          color: $primary;
        }

        h6 {
          margin-top: 9px !important;
          color: $secondary;
          font-weight: bold;
          font-size: $h6;
        }

        p {
          margin-top: 12px !important;
          color: $secondary;
          font-size: $h6;
          // width: 70px;
        }
      }

      div.recommendations {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        h5 {
          font-size: $h5;
          font-weight: bold;
          color: $primary;
        }

        div.images {
          margin-top: 27px !important;
          width: 80%;
          display: flex;
          overflow-x: auto;
          justify-content: space-between;
          align-items: center;

          div {
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            width: 117px;
            height: 147px;
            margin-left: 5px !important;

            img {
              height: 147px;
            }
          }
        }
      }

      div.details {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        div.dimensions {
          margin-top: 9px;
        }

        div.size {
          margin-top: 9px;
        }
      }
    }

    div.hr {
      margin: 68px 0px;
      border-bottom: 5px $light solid;
      height: 0px;
    }
  }
}
