@import "../../../assets/style/base";

// @media (min-width: 425px) {
@media (min-width: 0px) {
  div.loading {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $h3;

    span {
      margin: 0px 10px !important;
      color: $secondary;
    }
  }
}
