@import "../../../assets/style/base";

@media (max-width: 425px) {
  section.sort-and-order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 26px;

    div.title {
      font-size: $h6;

      span:nth-child(1) {
        color: $primary;
      }

      span:nth-child(2) {
        font-size: $h4;
        font-weight: bold;
      }

      span:nth-child(3) {
        color: $secondary;
      }
    }

    div.sort {
      display: none;

      // font-size: $h4;
      // width: 230px;
      // display: flex;
      // justify-content: space-between;
      // align-items: center;

      button.order-btn {
        background-color: transparent;
        color: $secondary;
        cursor: pointer;
        border: none;

        img {
          width: 15px;
          height: 15px;
        }
      }

      span {
        color: $secondary;
      }

      select {
        color: $primary;
        border: none;
        background-color: $white;
        font-size: $h4;
        width: 90px;

        option {
          color: $primary;
          border: none;
          background-color: $white;
          font-size: $h4;
        }
      }
    }

    div.mobile-sort {
      button.filter-btn {
        background-color: transparent;
        color: $secondary;
        cursor: pointer;
        border: none;

        img {
          width: 28px;
          height: 28px;
        }
      }
    }
  }
}

@media (min-width: 425px) {
  section.sort-and-order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 70px;

    div.title {
      font-size: $h3;

      span:nth-child(1) {
        color: $primary;
      }

      span:nth-child(2) {
        font-size: $h1;
        font-weight: bold;
      }

      span:nth-child(3) {
        color: $secondary;
      }
    }

    div.sort {
      font-size: $h4;
      width: 230px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      button.order-btn {
        background-color: transparent;
        color: $secondary;
        cursor: pointer;
        border: none;

        img {
          width: 15px;
          height: 15px;
        }
      }

      span {
        color: $secondary;
      }

      select {
        color: $primary;
        border: none;
        background-color: $white;
        font-size: $h4;
        width: 90px;

        option {
          color: $primary;
          border: none;
          background-color: $white;
          font-size: $h4;
        }
      }
    }

    div.mobile-sort {
      display: none;
    }
  }
}
